<div class="navbar">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/section/presentation">Presentation</a></li>
    <li><a routerLink="/section/experiences">Experiences</a></li>
    <li><a routerLink="/section/skills">Skills</a></li>
    <li><a routerLink="/section/portfolio">Portfolio</a></li>
    <li><a routerLink="/section/achievements">Achievements</a></li>
    <li><a routerLink="/section/data">Useful Data</a></li>
    <li><a routerLink="/section/mini-games">Mini games</a></li>
    <li><a routerLink="/section/blog">Blog</a></li>
  </ul>
</div>
