<div class="settings">
  <label for="difficulty">Difficulty</label>
  <input
    id="difficulty"
    type="number"
    (change)="onDifficultyChange($event)"
    value="10"
  />
  <app-button (click)="onStart()">Start</app-button>
</div>
<div class="info-message" *ngIf="infoMessage">
  {{ infoMessage }}
</div>
<div class="grid">
  <div class="row" *ngFor="let row of board; let r = index">
    <div class="box" *ngFor="let cell of row; let c = index">
      <app-sweeper-button
        [type]="cell.type"
        [class]="cell.class"
        (customClick)="onOpenCell(cell)"
        [disabled]="cell.isOpen"
      >
        <div class="debug-text" *ngIf="debugMode && !gameLost">
          {{ cell.type }}
        </div>
      </app-sweeper-button>
    </div>
  </div>
</div>
<app-button (click)="onToggleDebug()">Toggle Debug Mode</app-button>
<app-button (click)="onReset()">Reset The Game</app-button>
