<h1>This is the portfolio component</h1>

<div class="portfolio-list">
  <ul>
    <li>
      <header>
        <a href="https://nico-richard.github.io/pokeapp/" target="_blank"
          >PokeApp</a
        >
        <img src="../../assets/logo pokeapp.png" alt="logo pokeapp" />
      </header>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
        recusandae nisi neque nemo sit obcaecati accusamus ratione! Nam, itaque
        repudiandae.
      </p>
    </li>
    <li>
      <header>
        <a href="https://nico-richard.github.io/pokeapp/" target="_blank"
          >PokeApp</a
        >
        <img src="../../assets/logo pokeapp.png" alt="logo pokeapp" />
      </header>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
        recusandae nisi neque nemo sit obcaecati accusamus ratione! Nam, itaque
        repudiandae.
      </p>
    </li>
    <li>
      <header>
        <a href="https://nico-richard.github.io/pokeapp/" target="_blank"
          >PokeApp</a
        >
        <img src="../../assets/logo pokeapp.png" alt="logo pokeapp" />
      </header>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam
        recusandae nisi neque nemo sit obcaecati accusamus ratione! Nam, itaque
        repudiandae.
      </p>
    </li>
  </ul>
</div>
