<section class="header-image">
    <h1>I'm Nicolas</h1>
</section>

<section class="slogan-container">
    <div class="slogan">
        <p>On my way to become</p>
        <p>a web developper</p>
    </div>
</section>

<div class="content">
    <div class="main-content">
        <section class="presentation">
            <h1>Presentation</h1>
            <p>
                {{ presentation.content }}
            </p>
        </section>
        <section class="experience">
            <h1>Experiences</h1>
            <p>
                {{ experience.content }}
            </p>
            <router-outlet name="experience"></router-outlet>
        </section>
        <section class="skill">
            <h1>Skills</h1>
            <ul *ngIf="skill.list">
                <li *ngFor="let skill of skill.list; let i = index">
                    <a (click)="onSelectSkill(i)">
                        {{ skill.title }}
                    </a>
                </li>
            </ul>
            <aside>
                <router-outlet name="skill"></router-outlet>
            </aside>
        </section>
        <section class="portfolio">
            <h1>Portfolio</h1>
            <p>
                {{ portfolio.content }}
            </p>
            <router-outlet name="portfolio"></router-outlet>
        </section>
    </div>
    <div class="navbar">
        <ul>
            <li><a routerLink="/presentation">Presentation</a></li>
            <li><a routerLink="/experiences">Experiences</a></li>
            <li><a routerLink="/skills">Skills</a></li>
            <li><a routerLink="/portfolio">Portfolio</a></li>
            <li><a routerLink="/achievements">Achievements</a></li>
            <li><a routerLink="/mini-games">Mini games</a></li>
        </ul>
    </div>
</div>
<!-- <main>
  <section *ngFor="let section of sections" [ngClass]="section.class">
    <h2>{{ section.title }}</h2>
    <p>
      {{ section.content }}
    </p>
    <ul *ngIf="section.list">
      <li
      *ngFor="let item of section.list; let i = index"
      (click)="onClick(i)"
      >
      {{ item.title }}
    </li>
  </ul>
    <router-outlet *ngIf="section.title === 'Skills'"></router-outlet>
  </section>
</main> -->

<footer>Made with Angular & Sass</footer>
