<header>
  <h1>I'm Nicolas</h1>
</header>

<main>
  <section class="slogan">
    <p>On my way to become a web developper</p>
  </section>
  <section>
    <h2>Presentation</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, velit
      vitae expedita ipsam provident beatae eum ullam? Veniam, deserunt quia?
    </p>
  </section>
  <section>
    <h2>Portfolio</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae officia
      similique nemo voluptatum distinctio ratione a nulla voluptatibus,
      molestiae delectus deleniti repudiandae velit minus itaque voluptates
      assumenda. Amet asperiores earum odit sapiente mollitia deleniti similique
      veniam, accusantium nobis consequatur rerum veritatis recusandae
      cupiditate. Cum voluptas sed nulla blanditiis odit itaque.
    </p>
  </section>
  <section>
    <h2>Skills</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae officia
      similique nemo voluptatum dia deleniti similique veniam, accusantium nobis
      consequatur rerum veritatis recusandae cupiditate. Cum voluptas sed nulla
      blanditiis odit itaque.
    </p>
  </section>
  <section>
    <h2>Experience</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae officia
      similique nemo voluptaiandae velit minus itaque voluptates assumenda. Amet
      asperiores earum odit sapiente mollitia deleniti similique veniam,
      accusantium nobis consequat sit amet consectetur, adipisicing elit. Quae
      officia similique nemo voluptaiandae velit minus itaque voluptates
      assumenda. Amet asperiores earum odit sapiente mollitia deleniti similique
      veniam, accusantium nobis consequat sit amet consectetur, adipisicing
      elit. Quae officia similique nemo voluptaiandae velit minus itaque
      voluptates assumenda. Amet asperiores earum odit sapiente mollitia
      deleniti similique veniam, accusantium nobis consequat sit amet
      consectetur, adipisicing elit. Quae officia similique nemo voluptaiandae
      velit minus itaque voluptates assumenda. Amet asperiores earum odit
      sapiente mollitia deleniti similique veniam, accusantium nobis consequatur
      rerum veritatis recusandae cupiditate. Cum voluptas sed nulla blanditiis
      odit itaque.
    </p>
  </section>
</main>

<footer>Made with Angular & Sass</footer>
