@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap")

$hover-color: rgb(238,238,238)
$section-background-color: rgb(255, 255, 255)
$slogan-background-color: #588157
$slogan-background-hover-color: #476846
$name-title-color: rgb(255,255,255)
$section-color: rgb(80, 80, 80)
$section-hover-color: rgb(0, 0, 0)

$home-bg-img: "../../assets/home_background.jpg"
$objective-logo: "../../assets/objective.png"

header
  background-image: url($home-bg-img)
  background-size: cover
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  opacity: 0.8
  transition: opacity 1s
  scroll-snap-align: start

  &:hover
    opacity: 1
    h1
      text-shadow: 1px 1px black
      transition: text-shadow 0.5s

  h1
    text-shadow: none
    font-family: "Parisienne", cursive
    font-size: 5rem
    color: $name-title-color

main
  section
    overflow: hidden
    padding: 5rem max(5rem, 20%)
    font-family: 'georgia', sans serif
    font-size: 1.4rem
    line-height: 2rem
    color: $section-color
    transition: all 1s
    scroll-snap-align: start
    &:hover
      background-color: $hover-color
      color: $section-hover-color
    h2
      font-size: 2rem
    p
      text-align: justify
  .slogan
    padding: 2rem max(5rem, 20%)
    background-color: $slogan-background-color
    display: flex
    gap: 2rem
    justify-content: center
    align-items: center
    color: $section-hover-color
    p
      font-style: italic
    &:hover
      background-color: $slogan-background-hover-color
    &:after
      content: ""
      background-image: url($objective-logo)
      background-size: cover
      height: 2rem
      width: 2rem
  ul
    font-size: 1.5rem
    font-weight: bold
    line-height: 3rem
    li
      text-align: left
      list-style-type: disc
      &:hover
        text-decoration: underline
        cursor: pointer

footer
  scroll-snap-align: start
  padding: 12rem 0
  margin-bottom: 12rem
